<style>
    .background{
        background-color:lavenderblush;
    }
</style>

<div class="background">
    <h3>Welcome Back</h3>

    <input class="form-control email-title" placeholder="E-mail" name="email"
           type="text" style="cursor: auto;"
            ng-model="loginCtrl.email">
    <input class="form-control" placeholder="Password" name="password"
           type="password" value="" style="cursor: auto;"
           ng-model="loginCtrl.password">

    <button class="btn btn-primary top-margin"
            type="submit"
            id="sendButton"
            ng-click="loginCtrl.handleLoginClick()">
        Login
    </button>
</div>